@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "kumbh Sans", sans-serif;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* all similar content styling codes */
section {
  padding: 100px 0;
}
.container {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
.about,
.services,
.skills,
.projects,
.contact,
footer {
  font-family: "Poppins", sans-serif;
}
.about .about-content,
.services .service-content,
.skills .skills-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}
section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}
section .title::after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: crimson;
  padding: 0 5px;
  background: #fff;
  transform: translateX(-50%);
}

/* navbar styling */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 10px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
  background: black;
  opacity: 0;
  animation: fade-in-down ease-in 0.5s 1s forwards;
}
.navbar.sticky {
  padding: 15px 0;
  background: crimson;
}
.navbar .nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.logo__container {
  width: 80px;
  height: 60px;
  margin-left: 20px;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  font-size: 14px;
}
.logo__container .fa-drupal {
  align-self: center;
  font-size: 30px;
  outline: white;
  color: crimson;
}
.logo__container span {
  font-size: 25px;
  font-weight: 500;
}

.logo__container a {
  text-decoration: none;
  color: white;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover {
  text-decoration: underline;
  transform: scaleX(1.12);
  color: crimson;
}
.navbar.sticky .menu li a:hover {
  color: #fff;
}

/* menu btn styling */
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

/* Home Section */
.home {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-attachment: fixed;
  padding: 5px 140px;
  position: relative;
}

.home video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.home-container {
  margin-top: 50px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  color: white;
}
.logo-container2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 150px;
  height: 170px;
  border: 1px solid white;
  border-radius: 6px;
  background-color: rgb(255, 255, 255, 0.02);
  box-shadow: 2px 2px 1rem rgba(245, 245, 245, 0.3);
  align-items: center;
  border-top: none;
  transition: all 0.3s ease;
  opacity: 0;
  animation: fade-in ease-in 0.5s 1.8s forwards;
}
.logo-container2 .fa-drupal {
  color: crimson;
  font-size: 60px;
}
.logo-container2 span {
  color: white;
  font-size: 40px;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.details {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 90vw;
}

.home .home-container {
  width: 100%;
  display: flex;
}
.home .container .row {
  margin-right: 0;
}
.home .home-content .text-1 {
  font-size: 27px;
}
.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-2 {
  font-size: 40px;
  margin: 5px 0;
}

.home .home-container .details .text-2 span {
  color: crimson;
  font-weight: 500;
}

/* About section */
.about .title::after {
  content: "Who I am";
}
.about .about-content .left {
  width: 45%;
}
.about .about-content .left img {
  height: 400px;
  width: 80%;
  object-fit: contain;
  box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}
.about .about-content .right {
  width: 55%;
  display: flex;
  flex-direction: column;
}
.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about .about-content .right .text span {
  color: crimson;
  font-size: 25px;
  font-weight: 600;
}
.about .about-content .right p {
  text-align: justify;
}
.about .about-content .right a {
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.about .about-content .right a:hover {
  color: crimson;
  background: none;
}
.about .about-content .right .bars {
  margin-bottom: 15px;
}
.about .about-content .right .info {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}
.about .about-content .right span {
  font-weight: 500;
  font-size: 18px;
}
.about .about-content .right .line {
  height: 5px;
  width: 100%;
  background: lightgrey;
  position: relative;
}
.about .about-content .right .line::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: crimson;
}
.about-content .right .html::before {
  width: 80%;
}
.about-content .right .css::before {
  width: 70%;
}
.about-content .right .js::before {
  width: 75%;
}
.about-content .right .react::before {
  width: 65%;
}
.about-content .right .design::before {
  width: 60%;
}

.skills .title {
  padding-bottom: 10px;
  margin: 20px 0px;
}
.skills .title::after {
  content: "My Skills";
}

.typing-2 {
  color: crimson;
  /* font-weight: 500; */
}

/* services section styling */
.services {
  color: #fff;
  background: #111;
  min-height: 100vh;
}

.services .title::before {
  background: #fff;
}
.services .title::after {
  background: #111;
  content: "What I Offer";
}

.card__box:hover {
  background: crimson;
}
.card__box {
  transition: all 0.3s ease;
  border-bottom: 1px solid white;
  /* box-shadow: 2px 2px 1rem rgba(245, 245, 245, 0.3); */
  box-shadow: 2px 0px 6px rgba(245, 245, 245, 0.3);
}
.card__box:hover .box {
  transform: scale(1.05);
}
.card__box i {
  font-size: 50px;
  color: crimson;
  transition: color 0.3s ease;
}
.card__box:hover i {
  color: #fff;
}
.card__box .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

#services {
  width: 100%;
  min-height: 100%;
  background: #111;
  padding: 20px 0;
}

.visual {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card__box {
  margin: 1rem;
  height: 380px;
  width: 350px;
  border-radius: 4px;
  background: #222;
  /* position: relative; */
  color: #fff;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__box img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.card__box span {
  margin: 10px;
  font-size: 14px;
  text-align: justify;
  border-radius: 10px;
}
.card__box h4 {
  font-size: 22px;
  margin: 10px;
  font-weight: 600;
}
.vd:hover,
.fd:hover,
.cm:hover {
  transform: scale(1.075);
  transition: 0.2s ease-in;
  cursor: pointer;
}

/* Project Section*/
.projects {
  background: whitesmoke;
  min-height: 100vh;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects .title::after {
  background: whitesmoke;
}

.projects .title::after {
  content: "My Works";
}

.project-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding-bottom: 20px;
}

.project-info p {
  padding-bottom: 10px;
}

.project-info p a {
  font-weight: 600;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.projects .projects-container a {
  text-decoration: none;
  color: black;
}

.projects .projects-container .card {
  background: #fff;
  border-radius: 6px;
  width: 450px;
  height: 320px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease;
  margin: 20px;
}
.projects .container .card:hover {
  background: crimson;
}
.projects .container .card .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.projects .container .card:hover .box {
  transform: scale(1.05);
}
.projects .container .card .text {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0 7px 0;
}
.projects .container .card p {
  font-size: 14px;
  font-weight: 400;
  margin: 10px 15px;
}

.projects .container .card img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}
.projects .container .card:hover img {
  border-color: #fff;
}

/* Key frames */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in-down {
  from {
    transform: translateY(-2.5rem);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  from {
    transform: translateX(100rem, -50%);
  }
  to {
    transform: translateX(29rem, -50%);
    opacity: 1;
  }
}

/* responsive media query start */
@media (max-width: 1104px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 991px) {
  .container {
    padding: 0 50px;
  }
}
@media (max-width: 947px) {
  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .container {
    max-width: 930px;
  }
  .about .about-content .column {
    width: 100%;
  }
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right {
    flex: 100%;
  }
  .services .service-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .skills .skills-content .column,
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
  .projects .container .card {
    width: 390px;
    height: 200px;
  }
  .projects .container .card img {
    height: 140px;
    width: 100%;
  }
}

@media (max-width: 790px) {
  .container {
    padding: 0 15px;
  }
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .vd,
  .fd,
  .cm {
    margin: 0.7rem;
    height: 335px;
    width: 270px;
    line-height: 1.3;
  }
  .vd span,
  .fd span,
  .cm span {
    top: 180px;
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .vd h4,
  .fd h4,
  .cm h4 {
    top: 150px;
    font-size: 16px;
  }

  .projects .container .card {
    width: 320px;
    height: 200px;
  }
  .projects .container .card img {
    height: 120px;
    width: 100%;
  }
}

@media (max-width: 690px) {
  .home .home-content .text-2 {
    font-size: 60px;
  }
  .home .home-content .text-3 {
    font-size: 32px;
  }
  .home .home-content a {
    font-size: 20px;
  }
  .services .service-content .card {
    width: 100%;
  }
  .vd,
  .fd,
  .cm {
    margin: 0.5rem;
    height: 300px;
    width: 250px;
    line-height: 1.3;
  }
  .vd span,
  .fd span,
  .cm span {
    top: 160px;
    font-size: 12px;
  }
  .vd h4,
  .fd h4,
  .cm h4 {
    top: 140px;
    font-size: 14px;
  }
  .projects .container .card {
    width: 450px;
    height: 300px;
  }
  .projects .container .card img {
    height: 200px;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .home .home-content .text-2 {
    font-size: 50px;
  }
  .home .home-content .text-3 {
    font-size: 27px;
  }
  .about .about-content .right .text,
  .skills .skills-content .left .text {
    font-size: 19px;
  }
  .contact .right form .fields {
    flex-direction: column;
  }
  .contact .right form .name,
  .contact .right form .email {
    margin: 0;
  }
  .right form .error-box {
    width: 150px;
  }
  .projects .container .card {
    width: 300px;
    height: 200px;
  }
  .projects .container .card img {
    height: 150px;
    width: 100%;
  }
  .scroll-up-btn {
    right: 15px;
    bottom: 15px;
    height: 38px;
    width: 35px;
    font-size: 23px;
    line-height: 38px;
  }
}
